.css-16jesut,.css-16jkw2k{
    font-family:Righteous;
    font-size:large;
    color:#ffffff;
    /* padding:0.2rem 0rem; */
}
.css-1lyl6wv{
    color:black;
}
.css-12vkui9{
    background: #038d1573 !important;
}
.main-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.close:hover{
    transform: scale(110%);
    font-weight: bold;
    cursor: pointer;
    transition:.1s;
}

/* .css-ewdv3l{
    background: white;
} */
.ps-menu-button:hover {
    background: #ffffff73 !important;
}



  